<div class="row">
  <div class="col-lg-6">
      <div class="input-group">
        {{input value=filter key-up=(action 'autoComplete') class="form-control" placeholder="username" autocomplete="off"}}
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" {{action 'search'}}>Search</button>
        </span>
      </div>
  </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="list-group">
          {{#each filteredList as |item|}}
              {{#link-to 'view' item.login class="list-group-item"}}{{item.login}}{{/link-to}}
          {{/each}}
        </div>
    </div>
</div>
