{{filter-listing filteredList=filteredList autoComplete=(action 'autoComplete') search=(action 'search')}}

{{#if model}}
<h2>Repositories</h2>
<div class="row">
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |repo| }}
              <tr>
                <td><a href="{{repo.html_url}}" target="_blank">{{repo.id}}</a></td>
                <td>{{repo.name}}</td>
                <td>{{repo.owner.login}}</td>
              </tr>
          {{/each}}
        </tbody>
    </table>
</div>
{{/if}}





