<div>
  {{#each model as |repo| }}
      <tr>
          <td><a href="{{repo.html_url}}" target="_blank">{{repo.id}}</a></td>
          <td>{{repo.name}}</td>
          <td>{{repo.owner.login}}</td>
      </tr>
  {{/each}}
</div>
